{% extends "curl_admin/base.html" %}
{% block content %} {{user}} {% endblock  %}
{% block body %}


{% load crispy_forms_tags %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>

<div class="card shadow mb-4">
    <div class="card-header py-3">
       <h6 class="m-0 font-weight-bold d-inline header-text">Manage Customers</h6><br>
       <small class="text-secondary">Manage all your customers operations like booking appointments,adding or updating customer details and much more..</small>
       <a href="/admin/add-customer" class="btn btn-primary btn-sm d-inline float-right">Add Customer</a>
    </div>
    <div class="card-body">
  
        <div class="table-responsive">

            <table class="table table-condensed" id="customerTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th> ID</th>
                        <th> Name </th>
                        <th> Gender </th>
                        <th> Contact </th>
                        <th> Edit </th>
                        <th> Book Appointment </th>
                    </tr>
                </thead>
                <tbody class="table-data">
                    
                    {% for customer in customers %}
                    {% if customer.user_id == user.id %}
                    <tr class="text-center">
                        <td> {{forloop.counter}} </td>
                        <td> {{customer.cust_name}}</td>
                        <td> {{customer.cust_gender}} </td>
                        <td> {{customer.cust_contact}} </td>
                        <td> 
                            <a href="/admin/update-customer/{{customer.cust_id}}" class="update-btn btn btn-primary btn-sm">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="/admin/book-appointment/{{customer.cust_id}}" class="btn btn-success btn-sm" >
                                Book Appointment
                            </a>
                        </td> 
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                </tbody>
                
            </table>
        
        </div>
    </div>
</div>



  <!-- Modal -->
<div class="modal fade" id="customerform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                <a href="/admin/customers" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form action="" method="post" >
            <div class="modal-body">
                    {% csrf_token %}
                    {{form|crispy}}
            </div>
            <div class="modal-footer">
                <a href="/admin/customers" class="btn btn-secondary">Close</a>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% if action == 'update' or action == 'add' %}
<script>
  $(function () {
    $('#customerform').modal('show');
  })
</script>
{% endif %}





{% endblock %}